@import url('./reset.css');

:root {
  font-family: Monserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* SEARCHING FORM */

.logo {
  font-size: 24px;
  color: #ff3d00;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 25px 20px;
  gap: 8px;
  background: rgb(14, 21, 20);
  /* #0E1514 */
  background: linear-gradient(
    60deg,
    rgba(14, 21, 20, 1) 0%,
    rgba(255, 61, 0, 0.09567577030812324) 100%
  );
  -webkit-box-shadow: 10px 10px 300px 0px rgba(255, 61, 0, 0.12);
  -moz-box-shadow: 10px 10px 300px 0px rgba(255, 61, 0, 0.12);
  box-shadow: 10px 10px 300px 0px rgba(255, 61, 0, 0.12);
}

.search-form button {
  display: none;
  color: #ff3d00;
  border: none;
  background-color: transparent;
}

.search-form {
  font-size: 20px;
  border: solid 4.8px #ff3d00;
  display: flex;
  position: relative;
  border-radius: 24px;
}
.search-form input[type='text'] {
  color: #ff3d00;
  background-color: transparent;
  font-weight: bold;
  width: 24px;
  height: 24px;
  padding: 4.8px 18.6px 4.8px 5.4px;
  border: none;
  box-sizing: border-box;
  border-radius: 24px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-form input[type='text']:focus {
  outline: none;
}

.search-form input[type='text']::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ff3d00;
}

.search-form input[type='text']:focus,
.search-form input[type='text']:not(:placeholder-shown) {
  width: 180px;
  transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: transparent;
}
.search-form input[type='text']:focus + button[type='submit'] {
  display: block;
}
button[type='submit']:active {
  display: block;
}
.search-form .handle {
  background-color: transparent;
  width: 22.4px;
  height: 22.4px;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: -6px;
  right: 10px;

  transform: rotate(-45deg) translateY(35.2px);
  transition: transform 150ms ease-out 150ms;
}
.search-form .handle:before,
.search-form .handle:after {
  content: '';
  background-color: #ff3d00;
  width: 4.8px;
  height: 22.4px;
  position: absolute;
}
.search-form .handle:after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}

/* LOADER */
/* Для приховування кастомного анімованого лоудера коли контент вже завантажено */
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  position: relative;
  font-size: 48px;
  letter-spacing: 6px;
}
.loader:before {
  content: 'Loading';
  color: #fff;
}
.loader:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ff3d00;
  background-image: radial-gradient(circle 2px, #fff4 100%, transparent 0),
    radial-gradient(circle 1px, #fff3 100%, transparent 0);
  background-position: 14px -4px, 12px -1px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: -5px;
  right: 66px;
  transform-origin: center bottom;
  animation: fillBaloon 1s ease-in-out infinite alternate;
}

@keyframes fillBaloon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

/* GALLERY */

.gallery {
  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.gallery-item {
  max-width: 304px;
  height: 100%;
  border: 1px solid #ff3d00;
  margin: 8px auto;
}

.image-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  border-top: 1px solid #ff3d00;
  padding: 3px;
}

.info-item {
  text-align: center;
}

.info-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info-value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* ==========load-more================== */
.load-more {
  width: 150px;
  height: 60px;
  margin: 50px auto;
  background-color: #ff3d00;
  -webkit-box-shadow: 10px 10px 300px 120px rgba(168, 92, 69, 1);
  -moz-box-shadow: 10px 10px 300px 120px rgba(168, 92, 69, 1);
  box-shadow: 10px 10px 300px 120px rgba(168, 92, 69, 1);

  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
}

/* ================АДАПТИВ================ */

@media screen and (min-width: 768px) {
  .logo {
    font-size: 60px;
  }

  .search-section {
    flex-direction: row;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
  }

  .search-form input[type='text']:focus,
  .search-form input[type='text']:not(:placeholder-shown) {
  }

  .search-form input[type='text'] {
    color: #ff3d00;
    background-color: transparent;
    font-weight: bold;
    width: 40px;
    height: 40px;
    padding: 4.8px 33.6px 4.8px 6.4px;
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
  }

  .search-form .handle {
    top: 8.8px;
    right: 8.8px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .gallery-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .gallery-item {
    height: 100%;
    max-width: 100%;
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-item {
    height: 100%;
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .search-form input[type='text']:focus,
  .search-form input[type='text']:not(:placeholder-shown) {
    width: 288px;
  }

  .gallery-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .gallery-item {
    height: 100%;
    width: calc((100% - 48px) / 5);
  }
}
